* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 50px;
}

.btn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #f00;
}

.btn img {
  content: url(/src/img/icon-heart.svg);
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #f00;
}

.button-count {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.btn.is-active {
  background: #f00;
  color: white;
}

.btn.is-active img {
  content: url(/src/img/icon-heart-white.svg);
}

.btn.is-active .button-text {
  color: white;
}
